
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');
.html{
    line-height: 1.15;
}
* 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}

/* Perlu buat media quaries -- harus responsive */


.login-landing-page{
    /* box-sizing:content-box; */
    position: fixed;
    inset:0px;
    box-sizing:content-box;
    /* height: 100vh;
    width: 100vh; */
}

#body-wrapper{
    display: flex;
}


.image-container{
    position: relative;
    /* height: 100%;   */
}
.backgr{
    position: absolute;
    inset: 0px;
}
.bg-img{
    background: url("/img/2.jpg");
    position: relative;
    width: auto;
    height: 100vh;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 0; 
    transition-property: opacity;
    transition-timing-function: ease;
    opacity: 1;

    /* border: 1px solid white; */
}

.bg-img::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    height:100%;
    width: 100%;
    background: rgba(255,255,255,0.174);
}

.img{border-style: none;}

.container{
    position: relative;
    margin: 0px auto;
    padding-top: 20vh;
    padding-bottom: 136px;
    width: 392px;
}
.content{
    padding: 0px 40px 40px;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    text-align: center;
    box-sizing: border-box;
    transform: translate(-500,-500);
    background: rgba(255,255,255,0.133);

    border: 1px solid #fff;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 6px 0 rgba(29,29,29,0.203);
}

.content header{
    padding: 0.5em 0 0 0 ;
    color:black;
    font-size:16.2px;
    margin: 0 0 35px 0;
    font-family: 'Montserrat', sans-serif;
}

.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255,255,255,0.94);
}

.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color:#222;
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
}

.space {
    margin-top: 16px;
}

.show{
    position:absolute;
    right:13px;
    font-size:13px;
    font-weight: 700;
    color:#222;
    display:none;
    cursor:pointer;
    font-family: "montserrat", sans-serif;
}

.pass-key:valid ~ .show{
    display:block;
}

.forget-pass{
    text-align: center;
    margin: 10px 0;
}
.forget-pass a{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.forget-pass:hover a{
    text-decoration: underline;
}

.field-buttons{
    display: flex;
    
}
.manual-login{
    color : black;
    margin: 10px 0;
    /* font-family: 'Poppins', sans-serif; */
}
.register{
    color : black;
    margin: 10px 0;
}

.manual{
    position: relative;
    display: flex;
    text-align: center;
    flex-basis: 50%;
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 700; */
}

.login{
    position:static;
    margin: 10px 1em 0 0;
    color:#090909;
    padding: 0.5em 0em 0em 2.4em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px 6px 12px #fff;
}

.login:hover{
    box-shadow: -6px 6px 12px #c5c5c5, 6px 6px 12px #fff
}

.register{
    margin: 10px 0 0 0;
    color:#090909;
    padding: 0.5em 0em 0em 2.0em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px 6px 12px #fff;
}

.register:hover{
    box-shadow: -6px 6px 12px #c5c5c5, 6px 6px 12px #fff
}



/* .other-login-wrapper {
    width: -moz-available;
    display: inline-grid;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    color: rgb(71, 71, 71);
    background-color: rgba(0, 0, 0, 0.04);
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 999999px;
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
    height: 40px;
  }
.other-btn{
    position: relative;
    color: rgb(71, 71, 71);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.08);
    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
} */